/*   color variables */

$clr-primary: #18ffff; //color hover
$clr-primary-light: #adffff;
$clr-primary-dark: #091034; 
$clr-gray100: #ffffff; // color text
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-bg: #060b23; // color fondo

/*   border radius */
$radius: 0.5rem;

 .insertTike{
   
   width: 14rem;
   padding: 10PX;
   font-family: "Convergence", sans-serif;
   height: 100vh;
   display: grid;
   justify-content: center;
   align-content: flex-start;
   font-size: 0.8rem;
   background-color: $clr-bg;
   & h1{
    color: $clr-gray100;
    font-size: 1.5rem;
   }
 }
 .btn-tike{
   margin: 0;
   border: 0;
   background: #091034;
   color: $clr-gray100;
   font-family: "Convergence", sans-serif;
   box-shadow: 0 5px 5px rgba(0, 0, 0, .7);
   border-left: 4px solid $clr-gray100;
   border-right: 4px solid $clr-gray100;

 }
.form {
  position: relative;
  margin-bottom: 1rem;
  width: 11.5rem;
  height: 3rem;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $clr-gray300;
    border-radius: $radius;
    font-family: inherit;
    font-size: inherit;
    color: $clr-gray100;
    outline: none;
    padding: 1.25rem;
    background: none;

    &:hover {
      border-color: $clr-primary-light;
    }

    /* Change border when input focus*/

    &:focus {
      border-color: $clr-primary;
    }
  }

  &__label {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    color: $clr-gray100;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: $clr-bg;
  }
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

// estilos select
a{
  text-decoration: none;
  color: $clr-gray100;
}
.contedorSelect{
   width: 11.5rem;
   max-width: 1000px;
  margin: auto;
   color: $clr-gray100;
}

.selectbox{
  width: 100%;
  margin: auto;
  position: relative;
}

.select{
  background: $clr-bg;
  width: 100%;
  box-shadow: 0px 0px 0px rgba(0,0,0, .16);
  border-radius: $radius;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .2s ease all;
  margin-bottom: 20px;
  padding: 5px;
  position: relative;
  z-index: 1;
  border: 2px solid transparent;
  border: 2px solid $clr-gray300;
  // font-size: ;
}

.select.active{
  box-shadow: 0px 5px 10px rgba(0,0,0, .16);
  border: 2px solid $clr-primary;

}
.select.active:before{
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-top: 12px solid $clr-primary;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 15px);
}

.select i {
  font-size: 2em;
  margin-left: 10px;
  margin-right: 5px;
  color: $clr-primary;
}
.contenido-select{
  & .titulo{
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  & .descripcion{
    font-size: 0.7rem;
  }
}

.opciones{
  background: $clr-gray700;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.16);
  max-height: 300px;
  overflow: auto;
  z-index: 150;
  width: 100%;
  display: none;
  &.active{
    display: block;
    position:absolute;
    animation: fadeIn .3s forwards;
  }
}

// animacion
@keyframes fadeIn{
  from{
    transform: translateY(-100px) scale(.5);
  }
  to{
    transform: translateY(0) scale(1);
  }
}

.contenido-opcion{
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $clr-primary;
  transition: .2s ease all;
  padding: 5px;

  &-logo{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding-top: 4px;
    border-radius: 40% ;
    text-align: center;
    box-shadow: -3px 5px 15px rgba(0, 0, 0, 0.911);
    background: #5b6b6b;
    & h2{
      font-size: 1.4rem;
      line-height: 0.1;
    }
    & h2:first-child{
      margin-bottom: 10px;
    }
  }
  &:hover{
    background: $clr-primary;
    color: black;
  }
  & .titulo{
    margin-bottom: 0;
  }
}

.contenido-select .contenido-opcion{
   padding: 0;
   border-bottom: 2px solid transparent;
}

.contenido-select .contenido-opcion:hover{
  background: transparent;
  color: $clr-gray100;
}
.select:hover{
  border-color:  $clr-primary-light;
}

.descripcion{
  margin-bottom: 0;
}
// @media (max-width: 800px){
//   body{
//   }
// };
  
