/* -------POPUT------- */
.visible{
  display: none;
}

.active{
	visibility: visible;
}

.overlay{
    background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;	
	visibility: hidden; 
	z-index: 300;
}
.overlay.active{
	visibility: visible;
} 

.popup{
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: auto;
	transition: .5s ease all;
	transform: scale(0.7);
	opacity: 0;
}
.popup .btn-cerrar-popup{
	font-size: 20px;
	line-height: 16px;
	display: block;
	text-align: right;
	color: #BBBBBB;
	transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover{
	color: black;
}

.popup h3 {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
	 opacity: 0; 
}

.popup h5 {
	width: 500px;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 40px;
	 opacity: 0; 
}

.contenedor-inputs{
	display: flex;
    width: 450px;
    padding: 20px;
	padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0);
   
     opacity: 0; 
	 margin-left: auto;
	 margin-right: auto;
} 

.input {
   width: 100%;
   height: 40px;
   position: relative;
   margin-right: 10px;
  
}
.input input{
   width: 100%;
   height: 100%;
   outline: none;
   border: none;
   border-bottom: 2px solid silver;
   font-size: 18px;
   background-color: #5e7de300;
}

.input label{
   position: absolute;
   left: 0;
   bottom: 10px;
   color: silver;
   font-size: 18px;
   pointer-events: none;
   transition: all 0.3s ease;
}

.input input:focus ~label,
.input input:valid ~label{
	transform: translateY(-20px);
    font-size: 16px;
    color: var(--primary);
}


.input input:focus{
    border-color: var(--primary);
}

.popup form .btn-general {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.popup .conten-btn{
	display: flex;
}

.conten-btn-modif{
	width: 500px;
}
@media only screen and (max-width: 550px){
	.popup .conten-btn{
	  display: block;
	}
	.btn-delete{
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		height: 30px;
	}
	.popup{
		width: 90%;
	}
	.conten-btn-modif{
		display: flex;
		width: 100%;
		align-items: center;
	}
  }

/* -------ANIMACIONES------- */

.popup.active{opacity: 1; transform: scale(1);}
.popup.active h3{animation: entradaTitulo .8s ease .5s forwards;}
.popup.active h5{animation: entradaSubtitulo .8s ease .5s forwards;}
.popup.active .contenedor-inputs{animation: entradaInputs 1s ease 1s forwards;} 

@keyframes entradaTitulo{
	from{
		transform: translateY(-25px);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo{
	from{
		transform: translateY(25px);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}


 @keyframes entradaInputs{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
} 


