a {
  text-decoration: none;
  color: #ffffff;
}

.contedorSelect {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  color: #ffffff;
}

.selectbox {
  width: 100%;
  margin: auto;
  position: relative;
}

.select {
  background: #060b23;
  width: 160px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease all;
  margin-bottom: 20px;
  padding: 5px;
  position: relative;
  z-index: 0;
  border: 2px solid transparent;
  border: 2px solid #e1e5ee;
}

.select.active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);
  border: 2px solid #18ffff;
}

.select.active:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: 12px solid #18ffff;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 15px);
}

.select i {
  font-size: 2em;
  margin-left: 10px;
  margin-right: 5px;
  color: #18ffff;
}

.contenido-select {
  padding-left: 5px;
}
.contenido-select .titulo {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.contenido-select .descripcion {
  font-size: 0.7rem;
}

.opciones {
  background: #161d34;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
  max-height: 163px;
  overflow: auto;
  z-index: 1;
  width: 100%;
  display: none;
}
.opciones.active {
  display: block;
  position: absolute;
  -webkit-animation: fadeIn 0.3s forwards;
          animation: fadeIn 0.3s forwards;
}

@-webkit-keyframes fadeIn {
  from {
    transform: translateY(-100px) scale(0.5);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(-100px) scale(0.5);
  }
  to {
    transform: translateY(0) scale(1);
  }
}
.contenido-opcion {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #18ffff;
  transition: 0.2s ease all;
  padding: 5px;
  padding-left: 20px;
}
.contenido-opcion:hover {
  background: #18ffff;
  color: black;
}
.contenido-opcion .titulo {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.contenido-select .contenido-opcion {
  padding: 0;
  border-bottom: 2px solid transparent;
}

.contenido-select .contenido-opcion:hover {
  background: transparent;
  color: #ffffff;
}

.select:hover {
  border-color: #adffff;
}

.descripcion {
  margin-bottom: 0;
}